{% extends "layout.html" %}

{% block title %}
    Chat
{% endblock %}

{% block socket %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="/static/chat.js"></script>
{% endblock %}

{% block body %}
    <h1>Chat</h1>
    <div class="chatbox">
        <div class="chatbox_responses" tabindex="1">
            <ul id="chatbox_responses"></ul>
        </div>
        <div class="chatbox_users" tabindex="2" role="region" aria-live="polite">
            <ul id="users_connected"></ul>
        </div>
        <div class="chatbox_input">
            <input type="text" placeholder="Enter a message" id="message_box" autofocus tabindex="0">
        </div>
    </div>
{% endblock %}